%h1
  Messages for:
  = @mailbox

%table
  %thead
    %tr
      %th From
      %th Content


  %tbody
    - @messages.each do |msg|
      %tr
        %td= msg['originator']
        %td= msg['content']